<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.OpticaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\LPOO1\Proyectos\lpoo1_grupo_2\lpoo1_grupo_2\Optica.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>